.main-title-style{
    font-weight: bold;
    font-style: italic;
    font-size: 85px;
    color: rgb(255, 255, 255);
    text-shadow: 10px 15px 20px rgb(6, 243, 85);
    -webkit-text-stroke: 8px rgba(115, 255, 0, 0.548);
}





















